body {
  background: linear-gradient(to right, rgb(64, 230, 196), rgb(227, 232, 232));
  
}
header{
  text-align: center;
  font-style: bold;
  font-size: large;
}

.navbar {
 display: grid;
 grid-template-columns: repeat(17,1fr);
 background: linear-gradient(rgb(7, 162, 189), rgb(166, 218, 218));
 align-items: center;
 text-align: center;
 border-bottom: 4px solid black;
 padding: 15px 15px 15px 15px;
 grid-gap: 1rem;
 grid-auto-rows: auto;

}


.grid8{
  grid-column: 8;
}
.grid9{
  grid-column: 9;
}


